<library path="lib/libastar_ackermann_planner">
    <class type="astar_ackermann_planner::AStarAckermannPlanner" base_class_type="nav_core::BaseGlobalPlanner">
        <description>
            An implementation of non-holonomic A* path planning algorithm.
        </description>
    </class>
</library>